TRENDINGCAST_PROGRAM_ID=CewXVE956fdWcnTCZYHRtfFDdueG66fGLLoedSUMwffD
RPC_URL=https://api.devnet.solana.com
FACILITATOR_URL=https://x402.org/facilitator
USDC_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU
WALLET_KEYPAIR_PATH=/home/<user>/.config/solana/id.json
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
PORT=3000
NODE_ENV=development
